:root {
    --dark-green: #365C35;
    --darker-green: #72835A;
    --green: #9ABB0E;
    --yellow: #FCFF64;
    --orange: #FFD15C;
    --logo-width: 100px;
    --section-height: 600px;
    --rounded-corner: 2rem;
}

html {
    scroll-behavior: smooth;
}

section {
    display: grid;
    column-gap: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.75rem;
}

.split-column {
    grid-template-columns: 1fr 1fr;
}

.info-wrapper {
    display: flex;
    align-items: center;
}

.img-wrapper {

}

#mission .stage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url("/img/tennis-5018589_1280.jpg");
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)), url('/img/tennis-5018589_1280.jpg');

    min-height: var(--section-height); 
    border-radius: var(--rounded-corner);
}

#mission .stage .stage-info {
    grid-column: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.with-eyebrow {
    margin-bottom: 0;
}

.with-eyebrow span {
    display: block;
    font-size: 40%;
    margin-bottom: .5rem;
}

img {
    width: 100%;
    border-radius: var(--rounded-corner);
}

nav, main {
    max-width: 1440px;
    margin: auto;
}

nav {
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
}

nav ul {
    display: flex;
    margin-left: auto;
    min-width: 5rem;
    justify-content: space-between;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--darker-green);
    padding: 1rem 2rem;
    border-radius: var(--rounded-corner);
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: var(--orange);
}

.logo {
    width: var(--logo-width);
    display: flex;
}


footer {
    min-height: 120px;
    border-top: 1px solid black;
    text-align: center;
    background: linear-gradient(var(--darker-green),var(--green),var(--yellow),var(--orange));
}
