:root {
    --dark-green: #365C35;
    --darker-green: #72835A;
    --green: #9ABB0E;
    --yellow: #FCFF64;
    --orange: #FFD15C;
    --logo-width: 100px;
}

nav, main {
    max-width: 1440px;
    margin: auto;
}

nav{
    display: grid;
    grid-template-columns: var(--logo-width) 1fr;
}

nav ul {
    display: flex;
    margin-left: auto;
}

.logo {
    width: var(--logo-width);
    display: block;
}

.stage {
    background-image: url("/img/tennis-5018589_1280.jpg");
    min-height: 600px; 
}
footer {
    min-height: 120px;
    border-top: 1px solid black;
    text-align: center;
    background: linear-gradient(var(--darker-green),var(--green),var(--yellow),var(--orange));
}